.aside
    .aside__logo CodeX Notes

    .aside__folder-header.hide#current-folder
        include ../public/svg/arrow-left.svg
        span#current-folder-title

    span.add-note-button(name="js-new-note-button")
        include ../public/svg/pencil.svg
        | New note

    .aside__section-title Folders

    section#folders-section

        .notes-list
            ul.notes-list__content(name="js-folders-menu")

        .aside__add-button(name="js-new-folder-button")
            include ../public/svg/plus.svg
            | Add folder

        .aside__input.hide(name="js-new-folder-input")
            input(placeholder="Enter title", type="text")
            include ../public/svg/arrow-right.svg

    .aside__section-title Notes

    .notes-list
        //div.notes-list__scroll
        ul.notes-list__content(name="js-notes-menu")