.aside
    .aside__logo CodeX Notes

    .aside-swiper

        .aside-swiper__left

            //-
            //- Header
            //-
            span.add-note-button(name="js-new-note-button")
                include ../public/svg/pencil.svg
                | New note

            //-
            //- Scrollable zone
            //-
            .aside__scrollable
                .aside__scrollable-content(name="js-scrollable")

                    .aside__section-title Folders

                    section#folders-section

                        .notes-list
                            ul.notes-list__content(name="js-folders-menu")

                        .aside__add-button(name="js-new-folder-button")
                            include ../public/svg/plus.svg
                            | Add folder

                        fieldset.aside__input.hide(name="js-new-folder-field")
                            input(placeholder="Enter title", type="text")
                            include ../public/svg/arrow-right.svg

                    .aside__section-title Notes

                    .notes-list
                        //div.notes-list__scroll
                        ul.notes-list__content(name="js-notes-menu")

        .aside-swiper__right

            //-
            //- Folder header
            //-
            .aside__folder-header(id="folder-header")
                include ../public/svg/arrow-left.svg
                span(id="js-folder-name") Folder Name

            span.add-note-button(name="js-new-note-button-in-folder")
                include ../public/svg/pencil.svg
                | New note

            span.add-note-button(name="js-delete-folder-button")
                include ../public/svg/trash.svg
                | Delete folder


            //-
            //- Scrollable zone
            //-
            .aside__scrollable
                .aside__scrollable-content(name="js-scrollable")

                    .aside__section-title Notes
                    .notes-list
                        ul.notes-list__content(name="js-folder-notes-menu")
