doctype html

html(lang="en")
    head
       title= title
       script(src="build/bundle.js")
       script(src="codex.editor/codex-editor.js")
       script(src="codex.editor/plugins/header/header.js")
       script(src="codex.editor/plugins/paragraph/paragraph.js")
       link(href="codex.editor/codex-editor.css", rel="stylesheet")
       link(href="codex.editor/plugins/paragraph/paragraph.css", rel="stylesheet")
       link(href="codex.editor/plugins/header/header.css", rel="stylesheet")
       link(href="build/bundle.css", rel="stylesheet")
       meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

body
        div.aside
            div.logo.
                CodeX Editor
            ul.notes-list(name="js-notes-menu")

            a(href="/")
                button New
            - if (id)
                button(onclick="app.saveArticle('" + id + "')") Save
            - else
                button(onclick="app.saveArticle()") Publish

        div#codex-editor.editor
    script.
        codex.editor.start({
            holderId : "codex-editor",
            initialBlockPlugin : 'paragraph',
            hideToolbar: false,
            tools : {
                paragraph: {
                    type: 'paragraph',
                    iconClassname: 'ce-icon-paragraph',
                    render: paragraph.render,
                    validate: paragraph.validate,
                    save: paragraph.save,
                    destroy: paragraph.destroy,
                    allowedToPaste: true,
                    showInlineToolbar: true,
                    allowRenderOnPaste: true
                },
                header: {
                    type: 'header',
                    iconClassname: 'ce-icon-header',
                    appendCallback: header.appendCallback,
                    makeSettings: header.makeSettings,
                    render: header.render,
                    validate: header.validate,
                    save: header.save,
                    destroy: header.destroy,
                    displayInToolbox: true
                }
            },
            data: !{data}})

