doctype html

html(lang="en")
    head
       title= title
       script(src="build/bundle.js")
       script(src="codex.editor/codex-editor.js")
       script(src="codex.editor/plugins/header/header.js")
       script(src="codex.editor/plugins/paragraph/paragraph.js")
       link(href="codex.editor/codex-editor.css", rel="stylesheet")
       link(href="codex.editor/plugins/paragraph/paragraph.css", rel="stylesheet")
       link(href="codex.editor/plugins/header/header.css", rel="stylesheet")
       link(href="build/bundle.css", rel="stylesheet")
       meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

body
        div.aside
            div.logo.
                CodeX Editor

            span.add-note-button(name="js-new-note-button")
                include ../public/svg/pencil.svg
                |New note

            div.notes-list
                div.notes-list__scroll
                    ul.notes-list__content(name="js-notes-menu")

            //- span.new-note-button(name="js-new-note-button")
            //-     include ../public/svg/new-note.svg


        div.content(name="editor-view")
            div.header
                div#delete-button.delete-note-button.hide(onclick="app.Note.delete()")
                    |Delete
                div.share-button
                    include ../public/svg/share.svg
                    |Share
            div#codex-editor.editor
    script.
        codex.editor.start({
            holderId : "codex-editor",
            initialBlockPlugin : 'paragraph',
            hideToolbar: false,
            placeholder: 'Your story',
            tools : {
                paragraph: {
                    type: 'paragraph',
                    iconClassname: 'ce-icon-paragraph',
                    render: paragraph.render,
                    validate: paragraph.validate,
                    save: paragraph.save,
                    destroy: paragraph.destroy,
                    allowedToPaste: true,
                    showInlineToolbar: true,
                    allowRenderOnPaste: true
                },
                header: {
                    type: 'header',
                    iconClassname: 'ce-icon-header',
                    appendCallback: header.appendCallback,
                    makeSettings: header.makeSettings,
                    render: header.render,
                    validate: header.validate,
                    save: header.save,
                    destroy: header.destroy,
                    displayInToolbox: true
                }
            },
            data: !{data}})
