@import "normalize.css";
@import "vars.css";
@import "components/aside.css";
@import "components/editor.css";
@import "components/header.css";
@import "components/notes.css";

body {
    height: 100vh;
    margin: 0;
    display: flex;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.drag-bar {
    position: absolute;
    width: 100%;
    height: 35px;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-app-region: drag;
}

/**
* SVG icons styles
*/
svg {
    fill: currentColor;
    vertical-align: middle;
    max-height: 100%;
}

.clearfix::after {
    content: '';
    display: table;
    clear: 'both';
}

.hide {
    display: none !important;
}
