.aside {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    padding: 40px 15px 30px;
    background: var(--aside-bg);
    overflow: hidden;
    user-select: none;
    -webkit-app-region: drag;
    color: var(--aside-color);
    font-size: 13.7px;
    letter-spacing: 0.3px;

    &__logo {
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 600;
        color: #fff;
    }

    /**
     * Section title such as Folders or Notes
     * ============================
     */
    &__section-title {
        margin-bottom: 10px;
        color: var(--label-color);
        font-size: 11.7px;
        letter-spacing: 0.72px;
        text-transform: uppercase;
    }

    &__section-settings {
        margin: 24px 0;
     }

    .add-note-button {
        display: block;
        padding: 10px 13px;
        border: 1.3px dashed rgba(130, 156, 176, 0.42);
        border-radius: 3px;
        color: #63758c;
        line-height: 1em;
        margin-bottom: 15px;
        font-size: 15px;
        cursor: pointer;

        svg {
            margin-top: -1px;
            float: right;
        }

        &:hover {
            border-color: rgba(77,120,190,0.72);
            color: #5ba2ff;
        }
    }

    .js-delete-folder-button {
        cursor: pointer;
        color: #63758c;

        svg {
            margin: -3px 5px 0 -2px;
        }

        &:hover {
             border-color: rgba(77,120,190,0.72);
             color: #5ba2ff;
         }
    }

    /**
     * Add folder button and input
     * ============================
     */
    &__input,
    &__add-button {
        padding: 5px 0;
        margin: 10px 0 30px;
        color: var(--label-color);
    }

    /**
     * Aside input field
     * Such as New Folder or Invite collaborator
     */
    &__input {
        border: 0;
        border-bottom: 2px #4c525a solid;

        input {
            border: none;
            background: transparent;
            outline: none;
            color: #fff;
            padding-right: 5px;
            width: 90%;
            letter-spacing: inherit;

            &::placeholder {
                color: var(--label-color);
            }

            &:focus + svg {
                color: #fff;
            }
        }

        svg {
            float: right;
            display: inline-block;
            height: 0.8em;
            margin-top: 0.3em;
        }
    }

    /**
     * Add something button
     */
    &__add-button {
        cursor: pointer;

        svg {
            width: 0.9em;
            height: 0.9em;
            margin-right: 0.5em;
            margin-top: -3px;
            vertical-align: middle;
        }

        &:hover {
            color: #fff;
        }
    }

    &__folder-header {
        margin-bottom: 17px;
        font-size: 14.8px;
        cursor: pointer;
        color: #dee6fc;

        svg {
            height: 15px;
            fill: #dee6fc;
            margin-top: -0.15em;
            margin-right: 0.5em;
        }
    }
}

/**
 * Swiper with 2 sections
 */
.aside-swiper {
    display: flex;
    width: calc(200% + 15px);
    height: 100%;
    transition: transform 150ms ease-in;
    will-change: transform;

    &__left,
    &__right {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 200px;
    }

    &__left {
        transition: opacity 200ms ease;
        will-change: opacity;
    }

    &__right {
        margin-left: 15px;
    }

    &--toggled {
        transform: translateX(-215px);

        ^&__left {
            opacity: 0.2;
        }
    }
}


/**
 * Scrollable zone
 */
.aside__scrollable {
    position: relative;
    flex: 2 100%;
    overflow-y: hidden;
    overflow-x: hidden;

    &::before,
    &::after {
        content: '';
        height: 15px;
        left: 0;
        right: 0;
        position: absolute;
        z-index: 2;
    }

    &::before {
        top: 0;
        background: linear-gradient(to bottom, rgba(41,43,55,1) 0%,rgba(41,43,55,0) 90%);
        opacity: 0;
    }

    &--scrolled::before {
        opacity: 1;
    }

    &::after {
        bottom: 0;
        background: linear-gradient(to bottom, rgba(41,43,55,0) 0%,rgba(41,43,55,1) 90%);
    }

    &-content {
        height: 100%;
        overflow-y: auto;
        margin-right: -12px;
        padding-right: 12px;

        &::after{
            display: block;
            content: '';
            height: 15px;
        }
    }
}


