.aside {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    padding: 40px 15px 30px;
    background: #292B37;
    color: #fff;
    overflow: hidden;
    user-select: none;
    -webkit-app-region: drag;

    & .logo {
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 600;
    }

    .new-note-button {
        position: absolute;
        top: 40px;
        right: 20px;
        color: #008fff;

        &:hover svg {
            fill: #fff;
        }
    }

    .add-note-button {
        display: block;
        padding: 10px 13px;
        border: 1.3px dashed rgba(130, 156, 176, 0.42);
        border-radius: 3px;
        color: #63758c;
        line-height: 1em;
        margin-bottom: 15px;
        font-size: 14px;
        cursor: pointer;

        svg {
            margin-top: -1px;
            float: right;
        }

        &:hover {
            border-color: rgba(77,120,190,0.72);
            color: #5ba2ff;
        }
    }
}