.content {
    flex-grow: 1;
}

.note-title {
    display: block;
    width: 600px;
    margin: 0 auto 10px;
    border: 0;
    font-size: 1.8em;
    font-weight: 800;
    outline: none;
    font-family: 'PT Serif';

    &::placeholder {
        color: #818BA1;
        opacity: .7;
        transition: opacity 200ms ease;
    }

     &:focus::placeholder {
        opacity: .1;
     }

}


.editor {
    padding: 100px;
    margin-left: 230px;
    margin-top: 50px;
    font-size: 17px;
    color: #1A1A1A;
    line-height: 1.5em;
}