.content {
    flex-grow: 1;
}

.note-title {
    display: block;
    width: 100%;
    min-height: 50px;
    box-sizing: border-box;
    overflow-y: hidden;
    max-width: 650px;
    margin: 0 auto 10px;
    border: 0;
    font-size: 48px;
    font-weight: 800;
    outline: none;
    resize: none;
    font-family: 'PT Serif';
    padding: 0;

    &::placeholder {
        color: #818BA1;
        opacity: 0.7;
        transition: opacity 200ms ease;
    }

    &:focus::placeholder {
        opacity: 0.1;
    }

}


.editor {
    padding: 100px;
    margin-left: 230px;
    margin-top: 50px;
    font-size: 17px;
    color: #1A1A1A;
    line-height: 1.5em;
}

.ce-redactor {
    min-height: 150px !important;
}

@media (max-width: 1000px){
    .ce-block__content,
    .ce-toolbar__content {
        padding: 0;
    }
}
