 .folder-header {
    margin-bottom: 17px;
    font-size: 14.8px;
    cursor: pointer;
    color: var(--aside-color);
    display: flex;

    svg {
        height: 15px;
        fill: #dee6fc;
        margin: auto 10px auto 0 ;
    }

    &__right {
        display: flex;
        flex-direction: column;
    }

    &__name {
        color: var(--aside-color-light);
    }

    &__settings {
        color: var(--label-color);
        margin-top: 3px;
        cursor: pointer;

        &:hover {
            color: var(--aside-color);
        }
    }
}