.searcher {

    &__hidden {
        display: none;
    }

    &__container {
        display: flex;
        font-size: 15px;
        padding: 5px 0px;
        border-bottom: 2px solid rgba(130,156,176,.42);
        margin-bottom: 15px;
    }

    &__input {
        display: flex;
        width: 100%;
        border: none;
        color: #63758c;
        background: none;
    }
    
    &__input:focus {
        color: white;
        outline: none;
    }

}

[name='js-found-notes-menu'] span {
    color: white;
}
