.status-bar {
  margin-top: 2px;
  font-size: 13.2px;
  letter-spacing: 0.038em;
  font-weight: normal;
  color: color(var(--aside-color-light) alpha(50%));
  transition: color 250ms cubic-bezier(0.32,-0.01, 0, 0.99);

  &--blinked{
    color: var(--aside-color-light)
  }

  &--loading {
    &::after{
      content: '...';
      display: inline-block;
      animation: loading 1000ms infinite;
      overflow: hidden;
      vertical-align: text-bottom;
    }
  }
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 12px;
  }
}