.aside__header 
    
    .aside__header-left

        .aside__header-logo CodeX Notes

        #user-status.status-panel
            | Offline

    #user-panel.aside__header-avatar
        include ../../public/svg/avatar.svg
        #user-photo.aside__user-photo

        .aside__authorization
            
            .aside__authorization-title 
                | Enable synchronization and sharing features

            .authorization-button(id="js-auth-button")
                include ../../public/svg/google.svg
                | Login with Google