.aside
    
    include ./aside__header.pug

    .aside-swiper

        .aside-swiper__left

            //-
            //- Search
            //-
            .searcher__container
                input.searcher__input(value="Search")

            //-
            //- Header
            //-
            span.add-note-button(name="js-new-note-button")
                include ../../public/svg/pencil.svg
                | New note

            //-
            //- Scrollable zone
            //-
            .aside__scrollable
                .aside__scrollable-content(name="js-scrollable")

                    .aside__content-wrap(name="js-folders-container")
                        .aside__section-title Folders

                        section#folders-section

                            .notes-list
                                ul.notes-list__content(name="js-folders-menu")

                            .aside__add-button(name="js-new-folder-button")
                                include ../../public/svg/plus.svg
                                | Add folder

                            fieldset.aside__input.hide(name="js-new-folder-field")
                                input(placeholder="Enter title", type="text")
                                include ../../public/svg/arrow-right.svg

                    .aside__content-wrap(name="js-notes-container")
                        .aside__section-title Notes

                        .notes-list
                            ul.notes-list__content(name="js-notes-menu")
                            //-
                            //- div.notes-list__scroll
                            //-
                            ul.notes-list__content(name="js-found-notes-menu", tabindex="0")
                            //-
                            //- div.notes-list__scroll
                            //-
                            


        .aside-swiper__right

            //-
            //- Folder header
            //-
            .folder-header(id="folder-header")
                .folder-header__close(id="folder-close-zone")
                    include ../../public/svg/arrow-left.svg
                .folder-header__name(id="js-folder-title") Folder Title
                .folder-header__settings(id="js-folder-settings-toggler") Settings

                .folder-settings
                    .aside__section-title Folder Settings
                    .folder-settings__close(id="js-close-folder")
                        include ../../public/svg/close-folder.svg

                    fieldset.aside__input
                        input(placeholder="Change Folder title", type="text", name="folder-title")
                        include ../../public/svg/arrow-right.svg

                    .folder-settings__delete(id='js-delete-folder')
                        include ../../public/svg/trash.svg
                        | Delete folder

                    .aside__section-title Collaborators

                    .members-list(id="js-members-list")

                    fieldset.aside__input
                        input(placeholder="Invite member", type="text", name="new-member")
                        include ../../public/svg/arrow-right.svg


            span.add-note-button(name="js-new-note-button")
                include ../../public/svg/pencil.svg
                | New note


            //-
            //- Scrollable zone
            //-
            .aside__scrollable
                .aside__scrollable-content(name="js-scrollable")

                    .aside__section-title Notes
                    .notes-list
                        ul.notes-list__content(name="js-folder-notes-menu")
