.aside__header 
    
    .aside__header-left

        .aside__header-logo CodeX Notes

        span.status-panel
            | Offline

    .aside__header-avatar
        include ../../public/svg/avatar.svg

        .aside__authorization
            
            span.aside__authorization-title 
                | Enable synchronization and sharing features

            .authorization-button(id="js-auth-button")
                include ../../public/svg/google.svg
                | Login with Google