doctype html

html(lang="en")
    head
       meta(charset="utf-8")
       title= productName
       script(src="../../public/javascripts/hawk.js", onload="hawk.init('"+HAWK_TOKEN+"')")
       script(src="../../public/build/bundle.js")
       link(href="../../public/build/bundle.css", rel="stylesheet")
       meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

body
    div.drag-bar

    include ./aside

    div.content(name="editor-view")
        div.header
            div#delete-button.delete-note-button.hide(onclick="codex.notes.note.delete()") Delete

            span#note-date.note-date
                //include ../public/svg/share.svg
                //|Share
            span#save-indicator.save-indicator Saved
        div#codex-editor.editor
            textarea#note-title.note-title.js-autoresizable(placeholder="Add title", rows="1", onkeydown="codex.notes.note.titleKeydownHandler(this, event)")
